h1{
    color: red;
    display: flex;
    justify-content: center;
    font-size: 200px;
    position: relative;
    top: 250px;
    text-align: center;
    font-family: 'Rubik Storm', cursive;
}
nav{
    background-color: lightyellow;
    
}

nav a{
    color: green;
}

nav a:hover{
background-color: #ddd;
}

.nav{
    padding: 250px;
    text-align: center;
    background-image: url("truck.jpg");
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(min-width: 1025px){
    nav{
        background-image: url("truck.jpg");
    }
}