h1{
    color: red;
    display: flex;
    justify-content: center;
    font-size: 200px;
    position: relative;
    top: 250px;
    text-align: center;
    font-family: 'Rubik Storm', cursive;
}
nav{
    background-color: lightyellow;
    
}

nav a{
    color: green;
}

nav a:hover{
background-color: #ddd;
}

.nav{
    padding: 150px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}